h1{
    color: red;
    background-color: black;
    font-size: 50px;
    text-align: center;
    /* letter-spacing: 10px; */
    text-transform: uppercase;
    text-decoration: underline blue dashed;
    transition: all 1ms linear;
}

h1:hover{
    color: green;
    letter-spacing: 10px;
}

.btn1{
    margin-left: 200px;
    margin-top: 100px;
    padding: 20px;
}